<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
  <!-- <link rel="stylesheet" href="css/setting.css">
  <link rel="stylesheet" href="css/reset.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/assets/owl.theme.default.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>

</head>

<body>
  <div class="main">
    <div class="warp-main">
      <a href="#" class="logo-main"><img src="img/logo.png" alt=""></a>
      <form class="form-main" action="#" autocomplete="off">
        <input class="input-main" type="text" placeholder="Bạn muốn tìm...">
        <button class="btn-main" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
      <nav class="menu">
        <a href="#">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <p>Samsung</p>
        </a>
        <a href="#">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <p>Iphone</p>
        </a>
        <a href="#">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <p>Xiaomi</p>
        </a>
        <a href="#">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <p>Oppo</p>
        </a>
      </nav>
      <div class="main-service">
        <a href="#">
          Tất cả sản phẩm
        </a>
        <a href="#">Giới thiệu</a>
        <a href="#">Tin tức</a>
        
      </div>
      <a class="cart" href="#">
        <i class="fa fa-cart-arrow-down fa-2x" aria-hidden="true"></i>
      </a>
    </div>

  </div>
  <section class="content-owl">
    <div class="owl-left">
      <div class="owl-one owl-carousel owl-theme">
        <div class="item" data-merge="8">
          <a href="#"><img width="900" height="300" src="https://cdn.tgdd.vn/2020/05/banner/800-300-800x300.gif"
              alt=""></a>
        </div>
        <div class="item" data-merge="8">
          <a href="#"><img width="900" height="300" src="https://cdn.tgdd.vn/2020/05/banner/800-300-800x300-15.png"
              alt=""></a>
        </div>
        <div class="item" data-merge="8">
          <a href="#"><img width="900" height="300" src="https://cdn.tgdd.vn/2020/05/banner/800-300-800x300-11.png"
              alt=""></a>
        </div>
      </div>
      <div class="owl-two owl-carousel">
        <div class="owl__item">
          <p>IP 7 Plus</p>
          <p>đang giảm giá 10%</p>
        </div>
        <div class="owl__item">
          <p>IP 7 Plus</p>
          <p>đang giảm giá 10%</p>
        </div>
        <div class="owl__item">
          <p>IP 7 Plus</p>
          <p>đang giảm giá 10%</p>
        </div>
        <div class="owl__item">
          <p>IP 7 Plus</p>
          <p>đang giảm giá 10%</p>
        </div>
      </div>
    </div>

    <div class="content-right">
      <div class="content-right__title">
        <div class="title__a">Tin Công nghệ</div>
        <div class="title__b">Mobile ProH vừa cập nhật</div>
      </div>
      <div class="content-right__new">
        <ul>
          <li><a href="#"><img width="80" height="57"
                src="https://cdn.tgdd.vn/Files/2020/05/15/1255676/aag-cable_800x450-100x100.jpg" alt=""></a></li>
          <h4>Lướt facebook thấy mạng chậm là tui nghi quá mà, thì ra là bị cá mặp cắn đứt cáp.</h4>
        </ul>
      </div>
      <div class="two-banner">
        <a href="#"><img width="460" height="110" src="https://cdn.tgdd.vn/2020/05/banner/A71-398-110-398x110.png"
            alt=""></a>
        <a href="#"><img width="460" height="110" style="margin-top: 10px;"
            src="https://cdn.tgdd.vn/2020/05/banner/398-110-398x110-1.png" alt=""></a>
      </div>
    </div>
  </section>

  <section class="banner__list">
    <a href="#"><img width="1180" height="75" src="https://cdn.tgdd.vn/2020/05/banner/1200x75(13)(1)-1200x75.png"></a>
  </section>

  <div class="owl-main">
    <div class="owl-main__content">
      <h3>Khuyến mãi hot nhất</h3>
    </div>
    <div id="demo" class="owl-three weeked owl-carousel">
      <div>
        <a href="#">
          <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/44/216849/acer-aspire-a315-54-52ht-i5-10210u-4gb-256gb-win-1-16-400x400.jpg"
            alt="">
          <h5>Laptop Acer Pro</h5>
          <h4>5.999.000 VNĐ <span>6.9990.000 VNĐ</span></h4>
          <p> Tặng 2 suất mua Đồng hồ thời trang giảm 40% (không áp dụng thêm khuyến mãi khác</p>
        </a>
      </div>
    </div>
  </div>
  <section class="main-list">
    <div class="list-type">
      <h3>Điện thoại nỗi bật</h3>
      <div class="list-type__list">
        <a href="#">Điện thoại độc quyền</a>
        <a href="#">IPHONE 11 PROMAX</a>
        <a href="#">REDMID NOTE9S</a>
        <a href="#">SAMSUNG NOTE10</a>
        <a href="#">OPPO A91</a>
        <a href="#">Xem tất cả</a>
      </div>
    </div>
    <ul class="list-itemPro">
      <li class="list-itemPro__first">
        <a href="#">
          <img class="list-itemPro__img" width="600" height="275"
            src="https://cdn.tgdd.vn/Products/Images/42/217287/Feature/oppo-a91-ft-spec-2-720x333.jpg" alt="">
          <h4>OPPO A91</h4>
          <strong>5.990.000 VNĐ</strong>
          <span>6.990.000 VNĐ</span>
        </a>
      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <label class="price-promotion">Giảm giá 500.000Đ</label>
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>
      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <label class="price-promotion">Giảm giá 500.000Đ</label>
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>
      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <label class="price-promotion">Giảm giá 500.000Đ</label>
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>

      </li>
    </ul>
    <ul class="list-itemPro">
      <li class="list-itemPro__first">
        <a href="#">
          <img class="list-itemPro__img" width="600" height="275"
            src="https://cdn.tgdd.vn/Products/Images/42/220649/Feature/oppo-a52-spec-720x333.jpg" alt="">
          <h4>OPPO A91</h4>
          <strong>5.990.000 VNĐ</strong>
          <span>6.990.000 VNĐ</span>
        </a>
      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>

      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>

      </li>
      <li class="list-itemPro__item">
        <a href=""> <img width="180" height="180"
            src="https://cdn.tgdd.vn/Products/Images/42/220654/oppo-a92-tim-600x600-1-2-400x400.jpg" alt="">
          <h4>Samsung Galaxy A51</h4>
          <strong>7.790.000 VND</strong>
          <span>8.300.000 VND</span>
          <p>Tặng hai xuất mua đồng hồ thời trang giảm 40%(Không áp dụng trên khuyến mãi khác).</p>
        </a>

      </li>
    </ul>
  </section>
  <section class="footer">
    <div class="footer-info">
      <div class="footer-info1">
        <p>Lịch sử mua hàng</p>
        <p>chính sách bảo hành</p>
        <p>Chính sách đổi trả</p>
        <p>Tìm hiểu mua trả góp</p>
      </div>
      <div class="footer-info2">
        <p>Giới thiệu về công ty</p>
        <p>Tuyển dụng</p>
        <p>Góp ý khiếu nại</p>
        <p>Tìm siêu thị</p>
      </div>
      <div class="footer-info3">
        <p>Gọi mua hàng 0583845402 (7:30-22:00)</p>
        <p>Gọi khiếu nại 0583845402 (7:30-22:00)</p>
        <p>Gọi bảo hành 0583845402 (7:30-22:00)</p>
        <p>Kỹ thuật 0583845402 (7:30-22:00)</p>
      </div>
      <div class="footer-info4">
        <p>Page Facebook</p>
      
      </div>
    </div>
  </section>



  <script>
    var owl = $('.owl-one');

    owl.owlCarousel({
      items: 4,
      loop: true,
      smartSpeed: 500,
      autoplay: true,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,

    });

    var owl = $('.owl-two');

    owl.owlCarousel({
      items: 5,
      loop: true,
      margin: 10,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,

    });
    var owl = $('.owl-three');

    owl.owlCarousel({
      items: 5,
      loop: true,
      margin: 10,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplayHoverPause: true,

    });
  </script>




</body>

</html>